---
import BaseLayout from '../layouts/BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<BaseLayout title="Sobre">
  <Sidebar slot="sidebar" />
  <article>
    <header class="post-header">
      <h1>Sobre</h1>
    </header>
    <div class="prose">
      <p>Escreva aqui sobre você.</p>
    </div>
  </article>
</BaseLayout>
